<footer class="footer_area section_padding_130_0">
  <div class="container">
    <div class="row">
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg-4 offset-4" style="display: flex; justify-content: center;align-items: center; flex-direction: column;">
        <!-- <div class="single-footer-widget section_padding_0_130"> -->
          <!-- Footer Logo-->
          <div class="footer-logo mb-3"></div>
          <p>System monitoring Admin Dashboard</p>
          <!-- Copywrite Text-->
          <div class="copywrite-text mb-5">
            <p class="mb-0">Made <i class="lni-heart mr-1"></i>by Anderson Dias &<a class="ml-1" href="https://www.getarrays.io/">GetArrays</a></p>
          </div>
          <!-- Footer Social Area-->
          <div class="footer_social_area"><a href="https://twitter.com/AndyTargaryen" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</footer>
